In [1]:
import os
import pandas as pd                       #to perform data manipulation and analysis
import numpy as np                        #to cleanse data
from datetime import datetime             #to manipulate dates
import plotly.express as px               #to create interactive charts
import plotly.graph_objects as go         #to create interactive charts
###from jupyter_dash import JupyterDash      #to build Dash apps from Jupyter environments
###import dash_core_components as dcc        #to get components for interactive user interfaces
###import dash_html_components as html       #to compose the dash layout using Python structures

In [2]:
print("Current Working Directory", os.getcwd())

Current Working Directory C:\Users\james\Python Scripts\Personal Finance

# Reading our CSV File
# Creating monthly budget df
## Creating our column categories, and Categorizing our Expenses for each transaction

In [32]:
print("Current Working Directory ", os.getcwd())
os.chdir("C:/Users/james/Python Scripts/Personal Finance/Bank Transactions")
df = pd.read_csv("Bank Transactions Example.csv")

# Changing our Date column from Object type to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Changing categories for our df titles
##df.rename(columns = {'LEN':'Category'}, inplace=True) 

#Adding a new column (Category) to our DataFrame
df['Category'] = 'Category'
Category = np.arange(0,1000)

#Adding a new column (Account) to our DataFrame
df['Account'] = 'Account'
Account = np.arange(0,1000)

# Setting the max display of rows
pd.set_option('display.max_rows', 1000)

#Setting "Account" and "Category" column to object (str) type
df['Category'] = df['Category'].astype(str)
df['Account'] = df['Account'].astype(str)

##After running these lines of code, run the line of code below to change the data type to float for 
## the "Amount" column
df['Amount'] = df['Amount'].astype(str)

### CATEGORIZING OUR ACCOUNT TYPES FOR CATEGORIES
##LOOK TO CHANGE "Amount" COLUMN TO FLOAT TYPE AND STILL BE ABLE TO RUN THESE LINES OF CODE
df['Account'] = np.where(df['Amount'].str.contains('-')==False,'Revenue', df['Account'] )
df['Account'] = np.where(df['Amount'].str.contains('-')==True,'Expense', df['Account'] )

### These lines of code allows us change the category type to the desired category 
### given the string types in contains.
##########General Categories
#Other
#Food
df['Category'] = np.where(df['Description'].str.contains('Food'),'Food', df['Category'] )
#Subscriptions
df['Category'] = np.where(df['Description'].str.contains('Subscriptions'),'Subscriptions', df['Category'] )
#Car Insurance
df['Category'] = np.where(df['Description'].str.contains('Car Insurance'),'Car Insurance', df['Category'] )
#Parking
#Rent
df['Category'] = np.where(df['Amount'].str.contains('-250'),'Rent', df['Category'] )
#laundry
df['Category'] = np.where(df['Description'].str.contains('WASH LAUNDRY'),'Laundry', df['Category'] )
#Health Insurance
#Haircut
df['Category'] = np.where(df['Description'].str.contains('BISHOPS'),'Haircut', df['Category'] )

#Tax Payment
#Clothing
#Gym Membership

## Major purchases separately categorized

##Income
df['Category'] = np.where(df['Amount'].str.contains('-')==False,'Income', df['Description'])

Current Working Directory  C:\Users\james\Python Scripts\Personal Finance\Bank Transactions

In [14]:
# Switching the "Amount" column to a FLOAT type for calculations
df['Amount'] = df['Amount'].astype(float)

In [11]:
df

          Date Amount    Description       Category  Account
0   2022-07-15    -10          Food           Food   Expense
1   2022-07-13    -10          Food           Food   Expense
2   2022-07-12    -10          Food           Food   Expense
3   2022-07-11     -2        Laundry        Laundry  Expense
4   2022-07-11    -10          Food           Food   Expense
5   2022-07-11    -10          Food           Food   Expense
6   2022-07-11    -20            Gas            Gas  Expense
7   2022-07-10   2000         Income         Income  Revenue
8   2022-07-06    -10          Food           Food   Expense
9   2022-07-06    -20            Gas            Gas  Expense
10  2022-07-06    -20            Gas            Gas  Expense
11  2022-07-05    -10          Food           Food   Expense
12  2022-07-05    -10          Food           Food   Expense
13  2022-07-05    -10          Food           Food   Expense
14  2022-07-05    -10          Food           Food   Expense
15  2022-07-05    -10          Food           Food   Expense
16  2022-07-05   -250           Rent           Rent  Expense
17  2022-07-01    -10          Food           Food   Expense
18  2022-07-01     -5  Subscriptions  Subscriptions  Expense
19  2022-06-30    -10          Food           Food   Expense
20  2022-06-29    -10          Food           Food   Expense
21  2022-06-29    -50  Car Insurance  Car Insurance  Expense
22  2022-06-28    -10          Food           Food   Expense
23  2022-06-28     -2        Laundry        Laundry  Expense
24  2022-06-27    -10          Food           Food   Expense
25  2022-06-27    -10          Food           Food   Expense
26  2022-06-27    -10          Food           Food   Expense
27  2022-06-27    -10          Food           Food   Expense
28  2022-06-27    -20        Haircut        Haircut  Expense
29  2022-06-27     -5  Subscriptions  Subscriptions  Expense
30  2022-06-24    -10          Food           Food   Expense
31  2022-06-24    -10          Food           Food   Expense
32  2022-06-23    -10          Food           Food   Expense
33  2022-06-23    -10          Food           Food   Expense
34  2022-06-23    -10          Food           Food   Expense
35  2022-06-22    -10          Food           Food   Expense
36  2022-06-21    -10          Food           Food   Expense
37  2022-06-21    -10          Food           Food   Expense
38  2022-06-21    -10          Food           Food   Expense
39  2022-06-21    -10          Food           Food   Expense
40  2022-06-21    -10          Food           Food   Expense
41  2022-06-21     -2        Laundry        Laundry  Expense
42  2022-06-17     -9            Gas            Gas  Expense
43  2022-06-16    -10          Food           Food   Expense
44  2022-06-16    -10            Gas            Gas  Expense
45  2022-06-15   2000         Income         Income  Revenue
46  2022-06-15    -10          Food           Food   Expense
47  2022-06-14    -10          Food           Food   Expense
48  2022-06-14     -5  Subscriptions  Subscriptions  Expense
49  2022-06-13    -10          Food           Food   Expense
50  2022-06-13    -10          Food           Food   Expense
51  2022-06-13    -10          Food           Food   Expense
52  2022-06-13     -5  Subscriptions  Subscriptions  Expense
53  2022-06-13    -10          Food           Food   Expense
54  2022-06-10    -10          Food           Food   Expense
55  2022-06-09    -10          Food           Food   Expense
56  2022-06-09     -2        Laundry        Laundry  Expense
57  2022-06-07    -10          Food           Food   Expense
58  2022-06-06    -10          Food           Food   Expense
59  2022-06-06    -10          Food           Food   Expense
60  2022-06-06    -10          Food           Food   Expense
61  2022-06-03   -250           Rent           Rent  Expense
62  2022-06-02    -10          Food           Food   Expense
63  2022-06-02    -10          Food           Food   Expense
64  2022-06-01    -50  Car Insurance  Car Insurance  Expense
65  2022-05-31     -2        Laundry        Laundry  Expense
66  2022-05-31    -10          Food           Food   Expense
67  2022-05-31    -10          Food           Food   Expense
68  2022-05-27    -10          Food           Food   Expense
69  2022-05-26    -10          Food           Food   Expense
70  2022-05-25    -10          Food           Food   Expense
71  2022-05-25    -10          Food           Food   Expense
72  2022-05-24    -10          Food           Food   Expense
73  2022-05-23    -10          Food           Food   Expense
74  2022-05-23    -10          Food           Food   Expense
75  2022-05-23     -2        Laundry        Laundry  Expense
76  2022-05-23    -10          Food           Food   Expense
77  2022-05-23     -5  Subscriptions  Subscriptions  Expense
78  2022-05-20    -10          Food           Food   Expense
79  2022-05-20    -10          Food           Food   Expense
80  2022-05-18    -10          Food           Food   Expense
81  2022-05-18    -10          Food           Food   Expense
82  2022-05-16    450         Income         Income  Revenue
83  2022-05-16    -10          Food           Food   Expense
84  2022-05-16    -10          Food           Food   Expense
85  2022-05-16    -10          Food           Food   Expense
86  2022-05-16     -5  Subscriptions  Subscriptions  Expense
87  2022-05-15    -11            Gas            Gas  Expense
88  2022-05-14    -12            Gas            Gas  Expense
89  2022-05-13    -10          Food           Food   Expense
90  2022-05-13    -10          Food           Food   Expense
91  2022-05-12    -10          Food           Food   Expense
92  2022-05-11    -10          Food           Food   Expense
93  2022-05-11    -10          Food           Food   Expense
94  2022-05-11    -10           Food           Food  Expense
95  2022-05-10    -10          Food           Food   Expense
96  2022-05-10     -2        Laundry        Laundry  Expense
97  2022-05-09    -10          Food           Food   Expense
98  2022-05-09     -5  Subscriptions  Subscriptions  Expense
99  2022-05-09     -5  Subscriptions  Subscriptions  Expense
100 2022-05-06    -10          Food           Food   Expense
101 2022-05-05    -10          Food           Food   Expense
102 2022-05-04    -10          Food           Food   Expense
103 2022-05-03     -2        Laundry        Laundry  Expense
104 2022-05-03     -2        Laundry        Laundry  Expense
105 2022-05-02    -10          Food           Food   Expense
106 2022-05-02    -10          Food           Food   Expense
107 2022-05-02    -50  Car Insurance  Car Insurance  Expense
108 2022-05-02   -250           Rent           Rent  Expense
109 2022-04-28    -10          Food           Food   Expense
110 2022-04-28    -10          Food           Food   Expense
111 2022-04-25    -10          Food           Food   Expense
112 2022-04-21    -10          Food           Food   Expense
113 2022-04-21     -2        Laundry        Laundry  Expense
114 2022-04-21    -10          Food           Food   Expense
115 2022-04-21    -10          Food           Food   Expense
116 2022-04-20    -10          Food           Food   Expense
117 2022-04-20    -10          Food           Food   Expense
118 2022-04-18   2000         Income         Income  Revenue
119 2022-04-18    -10          Food           Food   Expense
120 2022-04-18    -10          Food           Food   Expense
121 2022-04-18    -10          Food           Food   Expense
122 2022-04-18    -13            Gas            Gas  Expense
123 2022-04-15    -10          Food           Food   Expense
124 2022-04-15    -10          Food           Food   Expense
125 2022-04-14    -10          Food           Food   Expense
126 2022-04-13    -10          Food           Food   Expense
127 2022-04-13    -10          Food           Food   Expense
128 2022-04-11     -2        Laundry        Laundry  Expense
129 2022-04-11    -10          Food           Food   Expense
130 2022-04-11    -10          Food           Food   Expense
131 2022-04-11    -10          Food           Food   Expense
132 2022-04-11    -10          Food           Food   Expense
133 2022-04-11    -50  Car Insurance  Car Insurance  Expense
134 2022-04-09    -14            Gas            Gas  Expense
135 2022-04-08    -10          Food           Food   Expense
136 2022-04-07     50         Income         Income  Revenue
137 2022-04-07    -10          Food           Food   Expense
138 2022-04-06    -30        Haircut        Haircut  Expense
139 2022-04-05    -10          Food           Food   Expense
140 2022-04-05    -10          Food           Food   Expense
141 2022-04-05    -10          Food           Food   Expense
142 2022-04-04    -10          Food           Food   Expense
143 2022-04-04    -10          Food           Food   Expense
144 2022-04-04    -10          Food           Food   Expense
145 2022-04-04     -2        Laundry        Laundry  Expense
146 2022-04-04    -10          Food           Food   Expense
147 2022-04-04    -10          Food           Food   Expense
148 2022-04-04     -5  Subscriptions  Subscriptions  Expense
149 2022-04-01    -10          Food           Food   Expense
150 2022-04-01   -250           Rent           Rent  Expense
151 2022-03-30    -10          Food           Food   Expense
152 2022-03-28    -10          Food           Food   Expense
153 2022-03-28    -10          Food           Food   Expense
154 2022-03-28     -2        Laundry        Laundry  Expense
155 2022-03-28    -10          Food           Food   Expense
156 2022-03-25    -10          Food           Food   Expense
157 2022-03-24    -10          Food           Food   Expense
158 2022-03-23    -10          Food           Food   Expense
159 2022-03-22     -2        Laundry        Laundry  Expense
160 2022-03-22    -10          Food           Food   Expense
161 2022-03-20    -15            Gas            Gas  Expense
162 2022-03-16    -10          Food           Food   Expense
163 2022-03-16    -10          Food           Food   Expense
164 2022-03-14    -10          Food           Food   Expense
165 2022-03-14    -10          Food           Food   Expense
166 2022-03-14    -10          Food           Food   Expense
167 2022-03-14    -10          Food           Food   Expense
168 2022-03-11     -2        Laundry        Laundry  Expense
169 2022-03-11     -2        Laundry        Laundry  Expense
170 2022-03-11    -10          Food           Food   Expense
171 2022-03-10    -10          Food           Food   Expense
172 2022-03-10    -10          Food           Food   Expense
173 2022-03-10    -16            Gas            Gas  Expense
174 2022-03-08    -10          Food           Food   Expense
175 2022-03-07    -10          Food           Food   Expense
176 2022-03-07    -10          Food           Food   Expense
177 2022-03-07   -250           Rent           Rent  Expense
178 2022-03-04    -10          Food           Food   Expense
179 2022-03-03    -10          Food           Food   Expense
180 2022-03-03    -10          Food           Food   Expense
181 2022-03-02    -10          Food           Food   Expense
182 2022-02-28     -2        Laundry        Laundry  Expense
183 2022-02-28     -2        Laundry        Laundry  Expense
184 2022-02-28    -10          Food           Food   Expense
185 2022-02-25    -10          Food           Food   Expense
186 2022-02-24    -10          Food           Food   Expense
187 2022-02-22   2000         Income         Income  Revenue
188 2022-02-22    -10          Food           Food   Expense
189 2022-02-19    -17            Gas            Gas  Expense
190 2022-02-18    -10          Food           Food   Expense
191 2022-02-17    -10          Food           Food   Expense
192 2022-02-14    -10          Food           Food   Expense
193 2022-02-14    -10          Food           Food   Expense
194 2022-02-14     -2        Laundry        Laundry  Expense
195 2022-02-14    -10          Food           Food   Expense
196 2022-02-11    -10          Food           Food   Expense
197 2022-02-10    -10          Food           Food   Expense
198 2022-02-09    -10          Food           Food   Expense
199 2022-02-08    -10          Food           Food   Expense
200 2022-02-08     -2        Laundry        Laundry  Expense
201 2022-02-08    -18            Gas            Gas  Expense
202 2022-02-07    -10          Food           Food   Expense
203 2022-02-07    -10          Food           Food   Expense
204 2022-02-07    -40        Haircut        Haircut  Expense
205 2022-02-04    -10          Food           Food   Expense
206 2022-02-04     -5  Subscriptions  Subscriptions  Expense
207 2022-02-04   -250           Rent           Rent  Expense
208 2022-02-02    -10          Food           Food   Expense
209 2022-01-31     -2        Laundry        Laundry  Expense
210 2022-01-31     -2        Laundry        Laundry  Expense
211 2022-01-31    -10          Food           Food   Expense
212 2022-01-31    -10          Food           Food   Expense
213 2022-01-28    -10          Food           Food   Expense
214 2022-01-28    -10          Food           Food   Expense
215 2022-01-27    -10          Food           Food   Expense
216 2022-01-27    -10          Food           Food   Expense
217 2022-01-27     -5  Subscriptions  Subscriptions  Expense
218 2022-01-24   2000         Income         Income  Revenue
219 2022-01-24     -5  Subscriptions  Subscriptions  Expense
220 2022-01-24     -5  Subscriptions  Subscriptions  Expense
221 2022-01-24     -5  Subscriptions  Subscriptions  Expense
222 2022-01-24     -5  Subscriptions  Subscriptions  Expense
223 2022-01-24     -5  Subscriptions  Subscriptions  Expense
224 2022-01-18     -2        Laundry        Laundry  Expense
225 2022-01-18    -10          Food           Food   Expense
226 2022-01-18    -10          Food           Food   Expense
227 2022-01-18     -5  Subscriptions  Subscriptions  Expense
228 2022-01-16    -19            Gas            Gas  Expense
229 2022-01-13    -10          Food           Food   Expense
230 2022-01-11    -10          Food           Food   Expense
231 2022-01-11     -5  Subscriptions  Subscriptions  Expense
232 2022-01-10    -10          Food           Food   Expense
233 2022-01-10    -10          Food           Food   Expense
234 2022-01-10     -5  Subscriptions  Subscriptions  Expense
235 2022-01-07     -2        Laundry        Laundry  Expense
236 2022-01-07    -10          Food           Food   Expense
237 2022-01-06    -20            Gas            Gas  Expense
238 2022-01-04    -10          Food           Food   Expense
239 2022-01-04   -250           Rent           Rent  Expense
240 2022-03-10    -50  Car Insurance  Car Insurance  Expense
241 2022-02-10    -50  Car Insurance  Car Insurance  Expense
242 2022-01-10    -50  Car Insurance  Car Insurance  Expense
243 2022-03-03   2000         Income         Income  Revenue
244 2022-06-03   2000         Income         Income  Revenue

In [12]:
df[(df['Date'] > '2022-06-13') & (df['Date'] < '2022-07-15')]

         Date Amount    Description       Category  Account
1  2022-07-13    -10          Food           Food   Expense
2  2022-07-12    -10          Food           Food   Expense
3  2022-07-11     -2        Laundry        Laundry  Expense
4  2022-07-11    -10          Food           Food   Expense
5  2022-07-11    -10          Food           Food   Expense
6  2022-07-11    -20            Gas            Gas  Expense
7  2022-07-10   2000         Income         Income  Revenue
8  2022-07-06    -10          Food           Food   Expense
9  2022-07-06    -20            Gas            Gas  Expense
10 2022-07-06    -20            Gas            Gas  Expense
11 2022-07-05    -10          Food           Food   Expense
12 2022-07-05    -10          Food           Food   Expense
13 2022-07-05    -10          Food           Food   Expense
14 2022-07-05    -10          Food           Food   Expense
15 2022-07-05    -10          Food           Food   Expense
16 2022-07-05   -250           Rent           Rent  Expense
17 2022-07-01    -10          Food           Food   Expense
18 2022-07-01     -5  Subscriptions  Subscriptions  Expense
19 2022-06-30    -10          Food           Food   Expense
20 2022-06-29    -10          Food           Food   Expense
21 2022-06-29    -50  Car Insurance  Car Insurance  Expense
22 2022-06-28    -10          Food           Food   Expense
23 2022-06-28     -2        Laundry        Laundry  Expense
24 2022-06-27    -10          Food           Food   Expense
25 2022-06-27    -10          Food           Food   Expense
26 2022-06-27    -10          Food           Food   Expense
27 2022-06-27    -10          Food           Food   Expense
28 2022-06-27    -20        Haircut        Haircut  Expense
29 2022-06-27     -5  Subscriptions  Subscriptions  Expense
30 2022-06-24    -10          Food           Food   Expense
31 2022-06-24    -10          Food           Food   Expense
32 2022-06-23    -10          Food           Food   Expense
33 2022-06-23    -10          Food           Food   Expense
34 2022-06-23    -10          Food           Food   Expense
35 2022-06-22    -10          Food           Food   Expense
36 2022-06-21    -10          Food           Food   Expense
37 2022-06-21    -10          Food           Food   Expense
38 2022-06-21    -10          Food           Food   Expense
39 2022-06-21    -10          Food           Food   Expense
40 2022-06-21    -10          Food           Food   Expense
41 2022-06-21     -2        Laundry        Laundry  Expense
42 2022-06-17     -9            Gas            Gas  Expense
43 2022-06-16    -10          Food           Food   Expense
44 2022-06-16    -10            Gas            Gas  Expense
45 2022-06-15   2000         Income         Income  Revenue
46 2022-06-15    -10          Food           Food   Expense
47 2022-06-14    -10          Food           Food   Expense
48 2022-06-14     -5  Subscriptions  Subscriptions  Expense

In [13]:
df.dtypes

Date           datetime64[ns]
Amount                 object
Description            object
Category               object
Account                object
dtype: object

# DEC 13th - JAN 13th: EXPENSES

In [15]:
# Slices our dataframe into a monthly section of transactions, then deletes our row of data for
# income (row 402) 
df_total_exp_jan = df[(df['Date'] > '2021-12-13') & (df['Date'] < '2022-01-14')]
#df_total_exp_jan = df_total_exp_jan.drop(df.index[[444]])

# Switching the "Amount" column to a FLOAT type for calculations
df_total_exp_jan['Amount'] = df_total_exp_jan['Amount'].astype(float)

## Groups our January DataFrame by Category and sums each Category for January 
## (no cumsum of all categories)....
df_total_exp_jan = df_total_exp_jan.groupby(['Category']).sum()

## Groups our monthly DataFrame by Category and sums each Category for January  and resets the
## index name to sum, instead of amount
df_total_exp_jan.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

C:\Users\james\AppData\Local\Temp\ipykernel_10964\3873173918.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp_jan['Amount'] = df_total_exp_jan['Amount'].astype(float)
C:\Users\james\AppData\Local\Temp\ipykernel_10964\3873173918.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_total_exp_jan = df_total_exp_jan.groupby(['Category']).sum()

        Category    Sum
0  Car Insurance  -50.0
1          Food   -60.0
2            Gas  -20.0
3        Laundry   -2.0
4           Rent -250.0
5  Subscriptions  -10.0

In [18]:
# .cumsum() our whole monthly dataframe to show us the total expense amount for the month
df_total_exp_jan['Amount'].sum()

-392.0

# JANUARY - INCOME

In [17]:
df_total_exp_jan['Amount'].sum()

-392.0

# JAN 13th - FEB 11th: EXPENSES

In [20]:

df_total_exp_feb = df[(df['Date'] > '2022-01-13') & (df['Date'] < '02/12/2022')]

df_total_exp_feb['Amount'] = df_total_exp_feb['Amount'].astype(float)

df_total_exp_feb = df_total_exp_feb.groupby(['Category']).sum()

df_total_exp_feb.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

C:\Users\james\AppData\Local\Temp\ipykernel_10964\3180879148.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp_feb['Amount'] = df_total_exp_feb['Amount'].astype(float)
C:\Users\james\AppData\Local\Temp\ipykernel_10964\3180879148.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_total_exp_feb = df_total_exp_feb.groupby(['Category']).sum()

        Category     Sum
0  Car Insurance   -50.0
1          Food   -160.0
2            Gas   -37.0
3        Haircut   -40.0
4         Income  2000.0
5        Laundry    -8.0
6           Rent  -250.0
7  Subscriptions   -40.0

In [21]:
df_total_exp_feb['Amount'].sum()

1415.0

# FEB 11th - MAR 11th: EXPENSES

In [24]:
df_total_exp_mar = df[(df['Date'] > '2/12/2022') & (df['Date'] < '3/12/2022')]

df_total_exp_mar['Amount'] = df_total_exp_mar['Amount'].astype(float)

df_total_exp_mar = df_total_exp_mar.groupby(['Category']).sum()

df_total_exp_mar.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

C:\Users\james\AppData\Local\Temp\ipykernel_10964\685603069.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp_mar['Amount'] = df_total_exp_mar['Amount'].astype(float)
C:\Users\james\AppData\Local\Temp\ipykernel_10964\685603069.py:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_total_exp_mar = df_total_exp_mar.groupby(['Category']).sum()

        Category     Sum
0  Car Insurance   -50.0
1          Food   -190.0
2            Gas   -33.0
3         Income  4000.0
4        Laundry   -10.0
5           Rent  -250.0

In [25]:

df_total_exp_mar['Amount'].sum()

3467.0

# APRIL - EXPENSES

In [28]:
df_total_exp_apr = df[(df['Date'] > '2022-04-13') & (df['Date'] < '2022-05-13')]
##df_total_exp_apr = df_total_exp_apr.drop(df.index[[154, 169, 192]])

df_total_exp_apr['Amount'] = df_total_exp_apr['Amount'].astype(float)

df_total_exp_apr = df_total_exp_apr.groupby(['Category']).sum()

df_total_exp_apr.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

C:\Users\james\AppData\Local\Temp\ipykernel_10964\3217614862.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp_apr['Amount'] = df_total_exp_apr['Amount'].astype(float)
C:\Users\james\AppData\Local\Temp\ipykernel_10964\3217614862.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_total_exp_apr = df_total_exp_apr.groupby(['Category']).sum()

        Category     Sum
0  Car Insurance   -50.0
1           Food   -10.0
2          Food   -240.0
3            Gas   -13.0
4         Income  2000.0
5        Laundry    -8.0
6           Rent  -250.0
7  Subscriptions   -10.0

In [29]:
df_total_exp_apr['Amount'].sum()

1419.0

# MAY - EXPENSES

In [41]:
df_total_exp_may = df[(df['Date'] > '2022-04-13') & (df['Date'] < '2022-05-13')]
##df_total_exp_may = df_total_exp_may.drop(df.index[[154, 169, 192]])

df_total_exp_may['Amount'] = df_total_exp_may['Amount'].astype(float)

df_total_exp_may = df_total_exp_may.groupby(['Category']).sum()

df_total_exp_may.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

               Category      Sum
0                   CFA -1324.75
1         Car Insurance  -104.17
2              Concerts   -74.41
3   Credit Card Payment   -87.00
4          Food&Alcohol  -327.86
5                   Gas  -155.91
6                  Golf   -28.25
7               Grocery  -113.32
8      Health Insurance  -154.44
9               Laundry    -9.50
10                Other   -42.30
11                 Rent  -777.50
12        Subscriptions    -7.99
13          Tax Payment  -119.00
14               Travel   -96.63
15                Venmo   -15.00

In [42]:
df_total_exp_may['Amount'].sum()

-3438.03

# JUNE - EXPENSES

In [55]:
df_total_exp_jun = df[(df['Date'] > '2022-05-12') & (df['Date'] < '2022-06-14')]
##df_total_exp_jun = df_total_exp_jun.drop(df.index[[115, 54]]
                                        )
df_total_exp_jun['Amount'] = df_total_exp_jun['Amount'].astype(float)

df_total_exp_jun = df_total_exp_jun.groupby(['Category']).sum()

df_total_exp_jun.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

               Category     Sum
0                   CFA -349.50
1         Car Insurance -104.17
2              Clothing -120.00
3   Credit Card Payment  -89.00
4          Food&Alcohol -350.27
5                   Gas  -60.19
6                  Golf  -21.00
7               Grocery -105.59
8      Health Insurance  -90.72
9               Laundry  -11.25
10                Other  -15.48
11                 Rent -777.50
12        Subscriptions   -7.99
13                Venmo -145.00

In [56]:
df_total_exp_jun['Amount'].sum()

-2247.66

# JULY - EXPENSES

In [30]:
df_total_exp_juL = df[(df['Date'] > '2022-06-13') & (df['Date'] < '2022-07-15')]
#df_total_exp_juL = df_total_exp_juL.drop(df.index[[18, 31, 42, 61]])

df_total_exp_juL['Amount'] = df_total_exp_juL['Amount'].astype(float)

df_total_exp_juL = df_total_exp_juL.groupby(['Category']).sum()

df_total_exp_juL.groupby('Category')['Amount'].sum().reset_index(name ='Sum')

C:\Users\james\AppData\Local\Temp\ipykernel_10964\2079614399.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp_juL['Amount'] = df_total_exp_juL['Amount'].astype(float)
C:\Users\james\AppData\Local\Temp\ipykernel_10964\2079614399.py:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_total_exp_juL = df_total_exp_juL.groupby(['Category']).sum()

        Category     Sum
0  Car Insurance   -50.0
1          Food   -320.0
2            Gas   -79.0
3        Haircut   -20.0
4         Income  4000.0
5        Laundry    -6.0
6           Rent  -250.0
7  Subscriptions   -15.0

In [31]:
 df[(df['Date'] > '2022-06-13') & (df['Date'] < '2022-07-15')]

         Date  Amount    Description       Category  Account
1  2022-07-13   -10.0          Food           Food   Expense
2  2022-07-12   -10.0          Food           Food   Expense
3  2022-07-11    -2.0        Laundry        Laundry  Expense
4  2022-07-11   -10.0          Food           Food   Expense
5  2022-07-11   -10.0          Food           Food   Expense
6  2022-07-11   -20.0            Gas            Gas  Expense
7  2022-07-10  2000.0         Income         Income  Revenue
8  2022-07-06   -10.0          Food           Food   Expense
9  2022-07-06   -20.0            Gas            Gas  Expense
10 2022-07-06   -20.0            Gas            Gas  Expense
11 2022-07-05   -10.0          Food           Food   Expense
12 2022-07-05   -10.0          Food           Food   Expense
13 2022-07-05   -10.0          Food           Food   Expense
14 2022-07-05   -10.0          Food           Food   Expense
15 2022-07-05   -10.0          Food           Food   Expense
16 2022-07-05  -250.0           Rent           Rent  Expense
17 2022-07-01   -10.0          Food           Food   Expense
18 2022-07-01    -5.0  Subscriptions  Subscriptions  Expense
19 2022-06-30   -10.0          Food           Food   Expense
20 2022-06-29   -10.0          Food           Food   Expense
21 2022-06-29   -50.0  Car Insurance  Car Insurance  Expense
22 2022-06-28   -10.0          Food           Food   Expense
23 2022-06-28    -2.0        Laundry        Laundry  Expense
24 2022-06-27   -10.0          Food           Food   Expense
25 2022-06-27   -10.0          Food           Food   Expense
26 2022-06-27   -10.0          Food           Food   Expense
27 2022-06-27   -10.0          Food           Food   Expense
28 2022-06-27   -20.0        Haircut        Haircut  Expense
29 2022-06-27    -5.0  Subscriptions  Subscriptions  Expense
30 2022-06-24   -10.0          Food           Food   Expense
31 2022-06-24   -10.0          Food           Food   Expense
32 2022-06-23   -10.0          Food           Food   Expense
33 2022-06-23   -10.0          Food           Food   Expense
34 2022-06-23   -10.0          Food           Food   Expense
35 2022-06-22   -10.0          Food           Food   Expense
36 2022-06-21   -10.0          Food           Food   Expense
37 2022-06-21   -10.0          Food           Food   Expense
38 2022-06-21   -10.0          Food           Food   Expense
39 2022-06-21   -10.0          Food           Food   Expense
40 2022-06-21   -10.0          Food           Food   Expense
41 2022-06-21    -2.0        Laundry        Laundry  Expense
42 2022-06-17    -9.0            Gas            Gas  Expense
43 2022-06-16   -10.0          Food           Food   Expense
44 2022-06-16   -10.0            Gas            Gas  Expense
45 2022-06-15  2000.0         Income         Income  Revenue
46 2022-06-15   -10.0          Food           Food   Expense
47 2022-06-14   -10.0          Food           Food   Expense
48 2022-06-14    -5.0  Subscriptions  Subscriptions  Expense